@use '../base/functions';
@use '../base/variables';

.btn {
  display: block;
  max-width: functions.rem(320);
  padding: functions.rem(15) functions.rem(20);
  color: variables.$white;
  font-size: functions.rem(16);
  line-height: functions.lh(18.4);
  text-align: center;
  text-decoration: none;
  background-color: variables.$secondaryColor;
  border: none;
  border-radius: functions.rem(5);
  cursor: pointer;
  transition: all variables.$transition;

  @media (hover: hover) {
    &:hover {
      background-color: variables.$btnColorHover;
    }
  }

  @media (min-width: variables.$md) {
    display: inline-block;
    padding: functions.rem(17) functions.rem(26);
  }
}
