@use '../base/functions';
@use '../base/variables';

.check {
  &__row {
    display: grid;
    gap: functions.rem(50);

    @media (min-width: variables.$md) {
      grid-template-columns: 1fr 1fr;
    }
  }

  &__img {
    max-width: functions.rem(440);
    margin-inline: auto;

    @media (min-width: variables.$md) {
      max-width: 100%;
    }
  }
}

.form {
  display: flex;
  flex-direction: column;
  row-gap: functions.rem(16);

  &__input {
    padding: functions.rem(13) functions.rem(15);
    border: none;
    border-radius: 5px;
    outline: 1px solid variables.$borderColor;

    &::placeholder {
      color: variables.$placeholderColor;
      font-size: functions.rem(14);

      @media (min-width: variables.$lg) {
        font-size: functions.rem(16);
      }
    }

    &:focus {
      outline-color: variables.$primaryColor;
    }

    &:focus::placeholder {
      opacity: 0.5;
    }
  }

  &__btn {
    margin-top: functions.rem(25);

    @media (max-width: functions.rem(767.98)) {
      margin-inline: auto;
      width: 100%;
    }
  }
}
