@use '../base/functions' as *;
@use '../base/variables' as *;

.choose {
  background-color: $secondaryBgColor;

  // .choose__row

  &__row {
    display: flex;
    flex-wrap: wrap;
    gap: rem(16) rem(20);
    margin-bottom: rem(40);

    @media (min-width: $lg) {
      flex-wrap: nowrap;
    }
  }

  // .choose__item

  &__item {
    padding: rem(20);
    background: #fff;
    background-color: $white;
    border-radius: rem(10);
    box-shadow: 0 24px 48px rgba(230, 235, 245, 40%);

    @media (min-width: $lg) {
      flex: 1 0 rem(302);
    }
  }

  // .choose__item-heading

  &__item-heading {
    display: flex;
    align-items: center;
    margin-bottom: rem(10);
  }

  // .choose__item-icon

  &__item-icon {
    flex: 1 0 rem(55);
    margin-right: rem(10);

    @media (min-width: $lg) {
      flex: 1 0 rem(68);
      margin-right: rem(20);
    }
  }

  // .choose__item-title

  &__item-title {
    margin-bottom: 0;

    @media (min-width: $sm) {
      margin-bottom: 0;
    }
  }

  // .choose__btns

  &__btns {
    @media (min-width: $md) {
      display: flex;
      justify-content: center;
    }
  }

  // .choose__btn

  &__btn {
    margin: 0 auto rem(15) auto;

    @media (min-width: $md) {
      margin: 0 rem(20) 0 0;
    }

    @media (min-width: $lg) {
      margin: 0 rem(30) 0 0;
    }
  }
}
