@use '../base/functions';
@use '../base/variables';

.choose {
  background-color: variables.$secondaryBgColor;

  // .choose__row

  &__row {
    display: flex;
    flex-wrap: wrap;
    gap: functions.rem(16) functions.rem(20);
    margin-bottom: functions.rem(40);

    @media (min-width: variables.$lg) {
      flex-wrap: nowrap;
    }
  }

  // .choose__item

  &__item {
    padding: functions.rem(20);
    background: #fff;
    background-color: variables.$white;
    border-radius: functions.rem(10);
    box-shadow: 0 24px 48px rgba(230, 235, 245, 40%);

    @media (min-width: variables.$lg) {
      flex: 1 0 functions.rem(302);
    }
  }

  // .choose__item-heading

  &__item-heading {
    display: flex;
    align-items: center;
    margin-bottom: functions.rem(10);
  }

  // .choose__item-icon

  &__item-icon {
    flex: 0 0 functions.rem(55);
    margin-right: functions.rem(10);

    @media (min-width: variables.$lg) {
      flex: 0 0 functions.rem(88);
    }
  }

  // .choose__item-title

  &__item-title {
    margin-bottom: 0;

    @media (min-width: variables.$sm) {
      margin-bottom: 0;
    }
  }

  // .choose__btns

  &__btns {
    @media (min-width: variables.$md) {
      display: flex;
      justify-content: center;
    }
  }

  // .choose__btn

  &__btn {
    margin: 0 auto functions.rem(15) auto;

    @media (min-width: variables.$md) {
      margin: 0 functions.rem(20) 0 0;
    }

    @media (min-width: variables.$lg) {
      margin: 0 functions.rem(30) 0 0;
    }
  }
}
