@use '../base/functions';
@use '../base/variables';

.footer {
  padding: functions.rem(40) 0 functions.rem(30);
  color: variables.$white;
  background-color: variables.$primaryBgColor;

  & * {
    text-align: center;

    @media (min-width: variables.$md) {
      text-align: right;
      text-align: left;
    }
  }

  &__main {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: 1px solid variables.$gray;

    @media (min-width: variables.$md) {
      flex-direction: row;
      align-items: start;
      justify-content: space-between;
    }
  }

  &__main-item {
    margin-bottom: functions.rem(40);
  }

  &__logo {
    margin-inline: auto;
    margin-bottom: functions.rem(40);

    @media (min-width: variables.$md) {
      margin-inline: 0;
    }
  }

  &__address-row {
    display: flex;
    margin-inline: auto;
  }

  &__address-icon {
    width: functions.rem(10);
  }

  &__address {
    margin-bottom: functions.rem(20);
    margin-left: functions.rem(10);
  }

  &__social {
    margin-bottom: functions.rem(20);
  }

  &__social-link {
    display: inline-block;

    &:not(:last-child) {
      margin-right: functions.rem(10);
    }
  }

  &__phones-link {
    display: block;
    font-weight: 700;
    font-size: functions.rem(20);

    &:not(:last-child) {
      margin-bottom: functions.rem(10);
    }
  }

  &__bottom {
    display: grid;
    grid-template-columns: minmax(149px, 210px) max-content;
    align-items: center;
    justify-content: space-between;
    padding-top: functions.rem(30);
    font-weight: 700;
    font-size: functions.rem(12);
    column-gap: functions.rem(18);

    @media (min-width: variables.$sm) {
      font-size: functions.rem(14);
    }

    @media (min-width: variables.$md) {
      grid-template-columns: 1fr max-content;
    }

    & * {
      text-align: left;
    }
  }
}

.nav-footer {
  &__link {
    padding: functions.rem(10) 0;

    @media (min-width: variables.$lg) {
      display: inline-block;
    }
  }
}
