@use '../base/functions' as *;
@use '../base/variables' as *;

.footer {
  padding: rem(40) 0 rem(30);
  color: $white;
  background-color: $primaryBgColor;

  & * {
    text-align: center;

    @media (min-width: $md) {
      text-align: right;
      text-align: left;
    }
  }

  &__main {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: 1px solid $gray;

    @media (min-width: $md) {
      flex-direction: row;
      align-items: start;
      justify-content: space-between;
    }
  }

  &__main-item {
    margin-bottom: rem(40);
  }

  &__logo {
    margin-inline: auto;
    margin-bottom: rem(40);

    @media (min-width: $md) {
      margin-inline: 0;
    }
  }

  &__address-row {
    display: flex;
    margin-inline: auto;
  }

  &__address-icon {
    width: rem(10);
    margin-top: rem(4);
  }

  &__address {
    margin-bottom: rem(20);
    margin-left: rem(10);
  }

  &__social {
    margin-bottom: rem(20);
  }

  &__social-link {
    display: inline-block;

    &:not(:last-child) {
      margin-right: rem(10);
    }
  }

  &__phones-link {
    display: block;
    font-weight: 700;
    font-size: rem(20);

    &:not(:last-child) {
      margin-bottom: rem(10);
    }
  }

  &__bottom {
    display: grid;
    grid-template-columns: minmax(149px, 210px) max-content;
    align-items: center;
    justify-content: space-between;
    padding-top: rem(30);
    font-weight: 700;
    font-size: rem(12);
    column-gap: rem(18);

    @media (min-width: $sm) {
      font-size: rem(14);
    }

    @media (min-width: $md) {
      grid-template-columns: 1fr max-content;
    }

    & * {
      text-align: left;
    }
  }
}

.nav-footer {
  &__link {
    padding: rem(10) 0;

    @media (min-width: $lg) {
      display: inline-block;
    }
  }
}
