.header {
  padding: rem(13) 0;
  background-color: $primaryBgColor;

  // .header__row

  &__row {
    display: flex;
    align-items: center;
    width: 100%;

    @media (min-width: $md) {
      justify-content: space-between;
    }
  }

  // .header__logo

  &__logo {
    margin-right: auto;

    @media (min-width: $lg) {
      margin-right: initial;
    }
  }

  // .header__nav

  &__nav {
    @media (max-width: rem(1023.98)) {
      position: fixed;
      top: 70px;
      right: 0;
      z-index: 2;
      height: 100%;
      transform: translateX(200%);
      transition: all $transition;

      &.nav_active {
        transform: translateX(0);
      }
    }
  }

  // .header__phone

  &__phone {
    @media (max-width: rem(567.98)) {
      position: fixed;
      top: 80vh;
      z-index: 2;
      transform: translateX(150%);
      transition: transform $transition;

      &.phone_active {
        transform: translateX(0);
      }
    }
  }

  // .header__burger

  &__burger {
    margin-left: rem(48);
  }
}

.logo {
  display: block;
  width: rem(150);
  color: $white;

  @media (min-width: $md) {
    width: rem(200);
  }
}

.nav {
  width: 100%;

  @media (max-width: rem(1023.98)) {
    padding: 0 rem(15) rem(50);
    font-weight: 700;
    font-size: rem(20);
    font-family: $secondaryFontFamily;
    background-color: $white;
  }

  @media (min-width: $sm) {
    width: rem(360);
  }

  @media (min-width: $lg) {
    width: initial;
  }

  // .nav__list

  &__list {
    @media (min-width: $lg) {
      display: flex;
      color: $white;
      font-size: rem(16);
    }
  }

  // .nav__item

  &__item {
    @media (max-width: rem(1023.98)) {
      border-bottom: 1px solid $borderColor;
    }

    @media (min-width: $lg) {
      &:not(:first-child) {
        margin-left: rem(40);
      }
    }
  }

  // .nav__link

  &__link {
    display: block;
    padding: rem(20) 0;
    text-decoration: none;

    @media (min-width: $lg) {
      display: initial;
    }

    @media (hover: hover) {
      &:hover {
        text-decoration: underline;
      }
    }

    @media (hover: hover) {
      &:hover {
        text-decoration: underline;
      }
    }
  }
}

.phone {
  @media (max-width: rem(567.98)) {
    width: 90%;
    text-align: center;
  }

  @media (min-width: $sm) {
    color: $white;
  }

  // .phone__icon

  &__icon {
    display: none;

    @media (min-width: $md) {
      display: inline-block;
      width: rem(14);
      height: rem(14);
    }
  }

  // .phone__link

  &__link {
    text-decoration: none;

    @media (hover: hover) {
      &:hover {
        text-decoration: underline;
      }
    }

    @media (max-width: rem(567.98)) {
      font-weight: 700;
      font-size: rem(20);
      font-family: $secondaryFontFamily;
    }

    @media (min-width: $lg) {
      font-size: rem(18);
    }
  }

  // .phone__callback

  &__callback {
    font-size: rem(12);
    text-decoration: underline;

    @media (min-width: $sm) {
      text-align: right;
    }
  }
}
