@use '../base/functions';
@use '../base/variables';

.header {
  padding: functions.rem(13) 0;
  background-color: variables.$primaryBgColor;

  // .header__row

  &__row {
    display: flex;
    align-items: center;
    width: 100%;

    @media (min-width: variables.$md) {
      justify-content: space-between;
    }
  }

  // .header__logo

  &__logo {
    margin-right: auto;

    @media (min-width: variables.$lg) {
      margin-right: initial;
    }
  }

  // .header__nav

  &__nav {
    @media (max-width: functions.rem(1023.98)) {
      position: fixed;
      top: 70px;
      right: 0;
      z-index: 2;
      height: 100%;
      transform: translateX(200%);
      transition: all variables.$transition;

      &.nav_active {
        transform: translateX(0);
      }
    }
  }

  // .header__phone

  &__phone {
    @media (max-width: functions.rem(567.98)) {
      position: fixed;
      top: 80vh;
      z-index: 2;
      transform: translateX(150%);
      transition: transform variables.$transition;

      &.phone_active {
        transform: translateX(0);
      }
    }
  }

  // .header__burger

  &__burger {
    margin-left: functions.rem(48);
  }
}

.logo {
  display: block;
  width: functions.rem(150);
  color: variables.$white;

  @media (min-width: variables.$md) {
    width: functions.rem(200);
  }
}

.nav {
  width: 100%;

  @media (max-width: functions.rem(1023.98)) {
    padding: 0 functions.rem(15) functions.rem(50);
    font-weight: 700;
    font-size: functions.rem(20);
    font-family: variables.$secondaryFontFamily;
    background-color: variables.$white;
  }

  @media (min-width: variables.$sm) {
    width: functions.rem(360);
  }

  @media (min-width: variables.$lg) {
    width: initial;
  }

  // .nav__list

  &__list {
    @media (min-width: variables.$lg) {
      display: flex;
      color: variables.$white;
      font-size: functions.rem(16);
    }
  }

  // .nav__item

  &__item {
    @media (max-width: functions.rem(1023.98)) {
      border-bottom: 1px solid variables.$borderColor;
    }

    @media (min-width: variables.$lg) {
      &:not(:first-child) {
        margin-left: functions.rem(40);
      }
    }
  }

  // .nav__link

  &__link {
    display: block;
    padding: functions.rem(20) 0;
    text-decoration: none;

    @media (min-width: variables.$lg) {
      display: initial;
    }

    @media (hover: hover) {
      &:hover {
        text-decoration: underline;
      }
    }

    @media (hover: hover) {
      &:hover {
        text-decoration: underline;
      }
    }
  }
}

.phone {
  @media (max-width: functions.rem(567.98)) {
    width: 90%;
    text-align: center;
  }

  @media (min-width: variables.$sm) {
    color: variables.$white;
  }

  // .phone__icon

  &__icon {
    display: none;

    @media (min-width: variables.$md) {
      display: inline-block;
      width: functions.rem(14);
      height: functions.rem(14);
    }
  }

  // .phone__link

  &__link {
    text-decoration: none;

    @media (hover: hover) {
      &:hover {
        text-decoration: underline;
      }
    }

    @media (max-width: functions.rem(567.98)) {
      font-weight: 700;
      font-size: functions.rem(20);
      font-family: variables.$secondaryFontFamily;
    }

    @media (min-width: variables.$lg) {
      font-size: functions.rem(18);
    }
  }

  // .phone__callback

  &__callback {
    font-size: functions.rem(12);
    text-decoration: underline;

    @media (min-width: variables.$sm) {
      text-align: right;
    }
  }
}
