@use '../base/functions' as *;
@use '../base/variables' as *;

.how {
  // .how__row

  &__row {
    display: flex;
    flex-direction: column-reverse;

    @media (min-width: $lg) {
      flex-direction: row;
    }
  }

  // .how__img-col

  &__img-col {
    flex-direction: column;
    align-items: center;
  }

  // .how__img

  &__img {
    max-width: rem(320);
    margin: 0 auto rem(40);

    @media (min-width: $md) {
      max-width: rem(354);
    }

    @media (min-width: $lg) {
      max-width: rem(479);
    }
  }

  // .how__btn

  &__btn {
    margin: 0 auto;

    @media (min-width: $md) {
      display: block;
    }
  }

  // .how__info

  &__info {
    @media (min-width: $lg) {
      max-width: rem(643);
      margin-left: rem(35);
    }
  }
}

.info-item {
  position: relative;
  margin-bottom: rem(24);
  padding-left: rem(38);

  &:not(:last-child)::after {
    position: absolute;
    top: rem(28);
    left: rem(14);
    z-index: -1;
    height: 100%;
    border: 1px solid $gray;
    content: '';
  }

  // .info-item__icon

  &__icon {
    position: absolute;
    left: 0;
    width: rem(28);
    min-width: rem(28);
  }

  // .info-item__add

  &__add {
    margin-bottom: rem(20);
    font-weight: 700;
    font-size: rem(18);
  }
}

.info-list {
  display: grid;
  gap: rem(28) rem(38);

  // .info-list__item

  &__item {
    display: grid;
    grid-template-columns: rem(12) 1fr;
    gap: rem(10);

    @media (min-width: $sm) {
      flex: 1 0 292px;
    }
  }

  // .info-list__item-icon

  &__item-icon {
    width: rem(12);
    min-width: rem(12);
    margin-top: rem(8);
  }
}
