@use '../base/functions';
@use '../base/variables';

.how {
  // .how__row

  &__row {
    display: flex;
    flex-direction: column-reverse;

    @media (min-width: variables.$lg) {
      flex-direction: row;
    }
  }

  // .how__img-col

  &__img-col {
    flex-direction: column;
    align-items: center;
  }

  // .how__img

  &__img {
    margin-inline: auto;
    max-width: functions.rem(320);
    margin-bottom: functions.rem(40);

    @media (min-width: variables.$md) {
      max-width: functions.rem(354);
    }

    @media (min-width: variables.$lg) {
      max-width: functions.rem(479);
    }
  }

  // .how__btn

  &__btn {
    margin-inline: auto;

    @media (min-width: variables.$md) {
      display: block;
    }
  }

  // .how__info

  &__info {
    @media (min-width: variables.$lg) {
      max-width: functions.rem(643);
      margin-left: functions.rem(35);
    }
  }
}

.info-item {
  position: relative;
  margin-bottom: functions.rem(24);
  padding-left: functions.rem(38);

  &:not(:last-child)::after {
    position: absolute;
    top: functions.rem(28);
    left: functions.rem(14);
    z-index: -1;
    height: 100%;
    border: 1px solid variables.$gray;
    content: '';
  }

  // .info-item__icon

  &__icon {
    position: absolute;
    left: 0;
    width: functions.rem(28);
    min-width: functions.rem(28);
  }

  // .info-item__add

  &__add {
    margin-bottom: functions.rem(22);
  }
}

.info-list {
  display: flex;
  flex-wrap: wrap;
  gap: functions.rem(28) functions.rem(38);

  // .info-list__item

  &__item {
    display: flex

    @media (min-width: variables.$sm) {
      flex: 1 0 292px;
    }
  }

  // .info-list__item-icon

  &__item-icon {
    width: functions.rem(11);
    min-width: functions.rem(11);
  }

  // .info-list__item-text

  &__item-text {
    margin-left: functions.rem(8);
  }
}
