@use '../base/functions';
@use '../base/variables';

.questions {
  background-color: variables.$secondaryBgColor;

  // .questions__accordion

  &__accordion {
    display: grid;
    gap: functions.rem(20);

    @media (min-width: variables.$lg) {
      grid-template-columns: 1fr 1fr;
    }
  }

  // .questions__column

  &__accordion-column {
    display: flex;
    flex-direction: column;
    gap: functions.rem(20);
  }

  // .questions__accordion-item

  &__accordion-item {
    background-color: variables.$white;
    border-radius: variables.$radius;
    box-shadow: variables.$shadow;
  }

  // .questions__accordion-head

  &__accordion-head {
    padding: functions.rem(20);
    color: variables.$primaryColor;

    @media (min-width: variables.$lg) {
      padding: functions.rem(24);
    }
  }

  // .questions__accordion-text

  &__accordion-text p {
    padding: 0 functions.rem(20) functions.rem(20);

    @media (min-width: variables.$lg) {
      padding: 0 functions.rem(24) functions.rem(24);
    }
  }
}
