@use '../base/functions';
@use '../base/variables';

.system {
  color: variables.$white;
  background-color: variables.$primaryColor;

  // .system__row

  &__row {
    display: flex;
    flex-wrap: wrap;
    gap: functions.rem(50);

    @media (min-width: variables.$lg) {
      flex-wrap: nowrap;
    }
  }

  // .system__para

  &__para {
    flex: 1 0 50%;
  }
}

.statistics-system {
  // .statistics-system__row

  &__row {
    display: flex;
    flex-wrap: wrap;
    gap: functions.rem(20);

    @media (min-width: variables.$md) {
      gap: functions.rem(30);
    }

    @media (min-width: variables.$lg) {
      gap: functions.rem(40) functions.rem(50);
    }
  }

  // .statistics-system__item

  &__item {
    display: flex;

    @media (min-width: variables.$sm) {
      flex: 1 0 45%;
    }
  }

  // .statistics-system__icon

  &__icon {
    width: functions.rem(44);
    min-width: functions.rem(44);
    margin-right: functions.rem(10);
    padding-top: functions.rem(10);

    @media (min-width: variables.$lg) {
      margin-right: functions.rem(24);
    }
  }

  // .statistics-system__text

  &__text {
    font-size: functions.rem(14);
  }
}
