@use '../base/functions' as *;
@use '../base/variables' as *;

.system {
  color: $white;
  background-color: $primaryColor;

  // .system__row

  &__row {
    display: flex;
    flex-wrap: wrap;

    @media (min-width: $lg) {
      flex-wrap: nowrap;
    }
  }

  // .system__para

  &__para {
    flex: 1 0 50%;

    @media (min-width: $lg) {
      margin-right: rem(50);
    }
  }
}

.statistics-system {
  margin-top: rem(50);

  @media (min-width: $lg) {
    margin-top: 0;
  }

  // .statistics-system__row

  &__row {
    display: grid;
    gap: rem(20);
  }

  // .statistics-system__item

  &__item {
    display: flex;
    align-items: center;

    @media (min-width: $sm) {
      flex: 1 0 45%;
    }
  }

  // .statistics-system__icon

  &__icon {
    width: rem(44);
    min-width: rem(44);
    margin-right: rem(10);
    padding-top: rem(10);

    @media (min-width: $lg) {
      margin-right: rem(24);
    }
  }

  // .statistics-system__text

  &__text {
    font-size: rem(14);
  }
}
