@use '../base/functions';
@use '../base/variables';

.testimonials {
  background-color: variables.$tertiaryBgColor;

  // .testimonials__slider

  &__slider {
    margin-bottom: functions.rem(40);

    &.swiper {
      padding-bottom: functions.rem(30);
      border-bottom: 1px solid variables.$borderColor;
    }
  }

  // .testimonials__btn

  &__btn {
    margin-inline: auto;

    @media (min-width: variables.$md) {
      display: block;
    }
  }
}

.slider-item {
  display: flex;
  flex-direction: column;
  padding: functions.rem(10);
  background-color: variables.$white;
  border-radius: variables.$radius;
  box-shadow: variables.$shadow;

  &.swiper-slide {
    height: initial;
  }

  &__title {
    color: variables.$primaryColor;
  }

  &__text {
    margin-bottom: functions.rem(20);
  }

  &__footer {
    margin-top: auto;
  }

  &__author,
  &__date {
    color: variables.$gray;
  }
}
