@use '../base/functions' as *;
@use '../base/variables' as *;

.what-if {
  background-color: $primaryColor;

  // .what-if__title

  &__title {
    color: $white;
  }

  // .what-if__item

  &__item {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: rem(20);
    padding: rem(20);
    background-color: $white;
    border-radius: rem(10);

    @media (min-width: $md) {
      position: relative;
      align-items: start;
      padding: rem(24);
    }
  }

  // .what-if__item-icon

  &__item-icon {
    width: rem(65);
    height: rem(65);
    margin-right: rem(20);

    @media (min-width: $md) {
      position: absolute;
      top: 50%;
      width: rem(90);
      height: rem(90);
      margin-right: 0;
      transform: translateY(-50%);
    }
  }

  // .what-if__item-title

  &__item-title {
    flex: 1 0 60%;

    @media (min-width: $md) {
      flex: 1 0 auto;
      margin-left: rem(110);
    }
  }

  &__text {
    margin-top: rem(10);

    @media (min-width: $md) {
      margin-top: 0;
      margin-left: rem(110);
    }
  }

  // .what-if__remark

  &__remark {
    display: flex;
    align-items: center;
    padding: rem(20);
    background-color: $white;
    border-radius: rem(10);

    @media (min-width: $md) {
      padding: rem(24);
    }
  }

  // .what-if__remark-icon

  &__remark-icon {
    width: rem(30);
    min-width: rem(30);
    margin-right: rem(15);
  }

  // .what-if__remark-text

  &__remark-text {
    color: $primaryBgColor;
    font-weight: 700;

    @media (min-width: $md) {
      font-size: rem(18);
    }
  }
}
