@use '../base/functions';
@use '../base/variables';

.what-if {
  background-color: variables.$primaryColor;

  // .what-if__title

  &__title {
    color: variables.$white;
  }

  // .what-if__item

  &__item {
    position: relative;
    margin-bottom: functions.rem(20);
    padding: functions.rem(20);
    background-color: variables.$white;
    border-radius: functions.rem(10);

    @media (min-width: variables.$md) {
      padding: functions.rem(24);
      padding-left: functions.rem(134);
    }
  }

  // .what-if__item-icon

  &__item-icon {
    width: functions.rem(65);
    min-width: functions.rem(65);
    margin-right: functions.rem(10);

    @media (min-width: variables.$md) {
      position: absolute;
      top: 50%;
      left: functions.rem(20);
      width: functions.rem(90);
      min-width: functions.rem(90);
      margin-right: functions.rem(25);
      transform: translateY(-50%);
    }
  }

  // .what-if__item-title

  &__item-title {
    display: flex;
    align-items: center;
  }

  // .what-if__remark

  &__remark {
    display: flex;
    align-items: center;
    padding: functions.rem(20);
    background-color: variables.$white;
    border-radius: functions.rem(10);

    @media (min-width: variables.$md) {
      padding: functions.rem(24);
    }
  }

  // .what-if__remark-icon

  &__remark-icon {
    width: functions.rem(30);
    min-width: functions.rem(30);
    margin-right: functions.rem(15);
  }

  // .what-if__remark-text

  &__remark-text {
    color: variables.$primaryBgColor;
    font-weight: 700;

    @media (min-width: variables.$md) {
      font-size: functions.rem(18);
    }
  }
}
