<section class="check section" id="check">
  <div class="container">
    <h2 class="check__title h2">Проверь бесплатно юриста или адвоката</h2>
    <div class="check__row">
      <form action="#" class="check__form form">
        <input type="text" name="initials" class="form__input" placeholder="ФИО юриста или адвоката">
        <input type="text" name="category" class="form__input" placeholder="Категория дела (своими словами)">
        <input type="email" name="email" class="form__input" id="email" placeholder="Email для получения аналитической справки">
        <input type="text" name="name" class="form__input" placeholder="Ваше имя">
        <input type="tel" name="tel" class="form__input" id="tel" placeholder="Ваш телефон">
        <button type="submit" class="form__btn btn">Проверить бесплатно</button>
      </form>

      <div class="check__img">
        <picture>
          <source srcset="images/check/check.webp" type="image/webp">
          <img src="images/check/check.jpg" width="585" height="436" alt="человек проверяет">
        </picture>
      </div>
    </div>
  </div>
</section>