<section class="choose section">
  <div class="container">
    <h2 class="choose__title h2">Как выбрать такого юриста или адвоката, который выиграет суд?</h2>
    <div class="choose__row">
      <div class="choose__item">
        <div class="choose__item-heading">
          <div class="choose__item-icon">
            <img class="" src="images/choose/choose-1.svg" width="68" height="68" alt="иконка">
          </div>
          <h3 class="choose__item-title h3">Выбирайте юристов с подтверждённым судебным опытом</h3>
        </div>
        <p class="choose__item-text">проведших много судебных процессов. Сравнивайте, какие юристы, не на словах, а в реальности, имеют больший судебный опыт.</p>
      </div>
      <div class="choose__item">
        <div class="choose__item-heading">
          <div class="choose__item-icon">
            <img class="" src="images/choose/choose-2.svg" width="68" height="68" alt="иконка">
          </div>
          <h3 class="choose__item-title h3">Выбирайте юристов с наибольшим % побед в судебных процессах</h3>
        </div>
        <p class="choose__item-text">стаж, опыт, офис, костюм, связи и рекомендации — это не главное. Главное — выигрывает юрист суды или проигрывает. Какой % дел он выиграл</p>
      </div>
      <div class="choose__item">
        <div class="choose__item-heading">
          <div class="choose__item-icon">
            <img class="" src="images/choose/choose-3.svg" width="68" height="68" alt="иконка">
          </div>
          <h3 class="choose__item-title h3">Выбирайте юристов со специализацией в нужном Вам вопросе</h3>
        </div>
        <p class="choose__item-text">в каждой категории дел есть свои нюансы, познаваемые только на практике. Арбитражные споры отличаются от уголовных, бракоразводные — от наследственных.</p>
      </div>
    </div>
    <div class="choose__btns">
      <a href="#" class="choose__btn btn">Проверить бесплатно</a>
      <a href="#" class="choose__btn btn">Подобрать юриста или адвоката</a>
    </div>
  </div>
</section>