<footer class="footer">
  <div class="container">
    <div class="footer__main">
      <div class="footer__main-item">
        <a href="index.html" class="footer__logo logo">
            <img src="images/logo.svg" width="148" height="18" alt="логотип сайта">
        </a>
        <a href="#" class="footer__address-row">
          <div class="footer__address-icon location">
            <img src="images/location.svg" width="10" height="13" alt="адрес">
          </div>
          <div class="footer__address link">Москва, ул. Мастеркова, д.4</div>
        </a>
        <a href="#" class="footer__policy link">Политика конфиденциальности</a>
      </div>

      <div class="footer__main-item">
        <nav class="footer__nav nav-footer">
          <ul class="nav-footer__list">
            <li class="nav-footer__item">
              <a href="#what" class="nav-footer__link nav__link anchor-link">Что даёт проверка?</a>
            </li>
            <li class="nav-footer__item">
              <a href="#how" class="nav-footer__link nav__link anchor-link">Как происходит проверка</a>
            </li>
            <li class="nav-footer__item">
              <a href="#testimonials" class="nav-footer__link nav__link anchor-link">Отзывы</a>
            </li>
            <li class="nav-footer__item">
              <a href="#questions" class="nav-footer__link nav__link anchor-link">FAQ</a>
            </li>
          </ul>
        </nav>
      </div>

      <div class="footer__main-item">
        <div class="footer__social">
          <a href="#" class="footer__social-link">
            <img class="social-icon" src="images/social-icons/vk.svg" width="38" height="38" alt="вконтакте">
          </a>
          <a href="#" class="footer__social-link">
            <img class="social-icon" src="images/social-icons/telegram.svg" width="38" height="38" alt="телеграм">
          </a>
        </div>

        <div class="footer__phones">
          <a class="footer__phones-link link" href="tel:+79876543210">+7 987 654-32-10</a>
          <a class="footer__phones-link link" href="tel:+79877072467">+7 987 707-24-67</a>
        </div>
      </div>
    </div>
    
    <div class="footer__bottom">
      <p class="footer__bottom-text">© АНО Национальная Рейтинговая Юридическая Система 2019–2021</p>
      <p class="footer__bottom-text">ОГРН 1197700008835</p>
    </div>
  </div>
</footer>