<section class="how section" id="how">
  <div class="container">
    <h2 class="how__title h2">Как происходит подбор и проверка юристов?</h2>
    <div class="how__row">
      <div class="how__img-col">
        <div class="how__img">
            <img src="images/how/how.webp" width="479" height="285" alt="подбор и проверка юристов">
        </div>
        <a href="#" class="how__btn btn">Бесплатно проверить</a>
      </div>

      <div class="how__info">
        <div class="how__info-item info-item">
          <div class="info-item__icon">
            <img src="images/how/number-1.svg" width="28" height="28" alt="иконка">
          </div>
          <h3 class="info-item__title h3">Вы сообщаете общую информацию о проблеме</h3>
          <p class="info-item__text">например "на меня подали в суд", или "я хочу подать в суд", или "на меня завели уголовное дело". Подробно описывать все обстоятельства нет необходимости, так как анализировать нюансы и обстоятельства будет уже один из одобренных Вами юристов.</p>
        </div>

        <div class="how__info-item info-item">
          <div class="info-item__icon">
            <img src="images/how/number-2.svg" width="28" height="28" alt="иконка">
          </div>
          <h3 class="info-item__title h3">Мы проводим аналитику и предоставляем вам</h3>
          <p class="info-item__text">аналитические справки по нескольким юристам или адвокатам, имеющих наибольшее число проведенных судебных процессов по делам вашей категории, и имеющих наибольший % выигранных аналогичных дел.</p>
        </div>

        <div class="how__info-item info-item">
          <div class="info-item__icon">
            <img src="images/how/number-3.svg" width="28" height="28" alt="иконка">
          </div>
          <h3 class="info-item__title h3">Вы самостоятельно, или с нашей помощью, связываетесь с одобренным Вами юристом или адвокатом</h3>
          <div class="info-item__text">
            <div class="info-item__add">Дополнительно возможно:</div>
            <ul class="info-list">
              <li class="info-list__item">
                <div class="info-list__item-icon">
                  <img src="images/how/check-no-bg.svg" width="11" height="7" alt="иконка">  
                </div>
                <span class="info-list__item-text">Подбор юристов в нужной ценовой категории;</span>
              </li>
              <li class="info-list__item">
                <div class="info-list__item-icon">
                  <img src="images/how/check-no-bg.svg" width="11" height="7" alt="иконка">  
                </div>
                <span class="info-list__item-text">Помощь в заключении договора с выбранным;</span>
              </li>
              <li class="info-list__item">
                <div class="info-list__item-icon">
                  <img src="images/how/check-no-bg.svg" width="11" height="7" alt="иконка">  
                </div>
                <span class="info-list__item-text">Проведение предварительных переговоров с выбранными адвокатами (кто из них готов взяться на приемлемых для Вас условиях);</span>
              </li>
              <li class="info-list__item">
                <div class="info-list__item-icon">
                  <img src="images/how/check-no-bg.svg" width="11" height="7" alt="иконка">  
                </div>
                <span class="info-list__item-text">Дополнительный независимый анализ судебной практики и прогноз шансов на выигрыш от аналитиков и юристов-экспертов нашего сервиса.</span>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
