<section class="main-block">
  <div class="container">
    <div class="main-block__row">
      <div class="main-block__heading">
        <p class="main-block__subtext">автономная некоммерческая организация</p>
        <h1 class="main-block__title h1">Национальная рейтинговая юридическая система</h1>
        <div class="main-block__text-row">
          <p class="main-block__text">
            <img class="main-block__text-icon" src="images/check.svg" width="18" height="18" alt="иконка"> 
            <span>Подбор адвокатов <br/>по специализации</span>
          </p>
          <p class="main-block__text">
            <img class="main-block__text-icon" src="images/check.svg" width="18" height="18" alt="иконка"> 
            <span>Проверка результатов адвокатов <br/>по базам судебных решений</span>
          </p>
        </div>
        <div class="main-block__btns">
          <a href="#" class="main-block__btn btn">Бесплатно проверить</a>
          <a href="#" class="main-block__btn btn">Подобрать юриста/адвоката</a>
        </div>
      </div>
      <div class="main-block__img">
        <picture>
          <source srcset="images/main-block/main-block-614.webp" type="image/webp">
          <img src="images/main-block/main-block-614.jpg" width="614" height="467" alt="девушка работает за ноутбуком">
        </picture>
      </div>
    </div>
  </div>
</section>
