<section class="questions section" id="questions">
  <div class="container">
    <h2 class="question__title h2">Частые вопросы</h2>
   <div class="questions__accordion accordion">
     <div class="questions__accordion-column">
       <div class="questions__accordion-item accordion__item">
         <h3 class="questions__accordion-head accordion__head">Почему я раньше не слышал об этой технологии?</h3>
         <div class="questions__accordion-text accordion__text">
          <p>Ещё 25–30000 лет назад юристы отслеживали изменения в законодательстве покупая бумажные сборники законов, и выписывая специальные газеты, в которых публиковались свежие изменения в законодательстве</p>
        </div>
       </div>
  
       <div class="questions__accordion-item accordion__item">
        <h3 class="questions__accordion-head accordion__head">А если мне необходим более подробный анализ?</h3>
        <div class="questions__accordion-text accordion__text">
          <p>Ещё 25–30000 лет назад юристы отслеживали изменения в законодательстве покупая бумажные сборники законов, и выписывая специальные газеты, в которых публиковались свежие изменения в законодательстве</p>
        </div>
      </div>
  
      <div class="questions__accordion-item accordion__item">
        <h3 class="questions__accordion-head accordion__head">А если я не понимаю к какой категории относится дело?</h3>
        <div class="questions__accordion-text accordion__text">
          <p>Ещё 25–30000 лет назад юристы отслеживали изменения в законодательстве покупая бумажные сборники законов, и выписывая специальные газеты, в которых публиковались свежие изменения в законодательстве</p>
        </div>
      </div>
    </div>

    <div class="questions__accordion-column">
      <div class="questions__accordion-item accordion__item">
        <h3 class="questions__accordion-head accordion__head">Это действительно бесплатно?</h3>
        <div class="questions__accordion-text accordion__text">
          <p>Ещё 25–30000 лет назад юристы отслеживали изменения в законодательстве покупая бумажные сборники законов, и выписывая специальные газеты, в которых публиковались свежие изменения в законодательстве</p>
        </div>
      </div>
  
      <div class="questions__accordion-item accordion__item">
        <h3 class="questions__accordion-head accordion__head">Как я проверю что адвокат или юрист действительно участвовал в тех судах, которые указаны в аналитической справке?</h3>
        <div class="questions__accordion-text accordion__text">
          <p>Ещё 25–30000 лет назад юристы отслеживали изменения в законодательстве покупая бумажные сборники законов, и выписывая специальные газеты, в которых публиковались свежие изменения в законодательстве</p>
        </div>
      </div>
  
      <div class="questions__accordion-item accordion__item">
        <h3 class="questions__accordion-head accordion__head">А если нужно проверить юриста, не участвующего в судах?</h3>
        <div class="questions__accordion-text accordion__text">
          <p>Ещё 25–30000 лет назад юристы отслеживали изменения в законодательстве покупая бумажные сборники законов, и выписывая специальные газеты, в которых публиковались свежие изменения в законодательстве</p>
        </div>
      </div>
    </div>
   </div> 
  </div>
</section>
