<section class="system section">
  <div class="container">
    <h2 class="system__title h2">Национальная Рейтинговая Юридическая Система</h2>
    <div class="system__row">
      <p class="system__para">Большинство решений судов сразу стали оцифровываться, и попадать в открытые базы решений судов. Решения судов, за исключением некоторых категорий, относящихся к строго конфиденциальным, теперь публикуются. Крупный бизнес и серьёзные юридические компании подробно анализируют судебную практику. Без специального софта чаще всего невозможно определить дела, которые вёл юрист или адвокат. Кроме того, опытный юрист или адвокат за 10 лет проводит десятки, а иногда и сотни судов, поэтому анализ затруднителен без специального программного обеспечения и компетентных аналитиков и юристов. АНО «Национальная Рейтинговая Юридическая Система» разработало и успешно применяет технологию анализа судебных решений, доступных в государственных базах судебных решений. Наша технология позволяет получить по юристу или адвокату информацию различной глубины, в зависимости от запроса.</p>

      <div class="system__statistics-system statistics-system">
        <h3 class="statistics-system__title h3">Статистика рейтинговой юридической системы:</h3>
        <div class="statistics-system__row">
          <div class="statistics-system__item">
            <div class="statistics-system__icon">
              <img src="images/system/system-1.svg" width="44" height="44" alt="иконка">
            </div>
            <div class="statistics-system__text-col">
              <h4 class="statistics-system__title h4">30 лет назад</h4>
              <p class="statistics-system__text">существовали только разрозненные бумажные архивы</p>
            </div>
          </div>

          <div class="statistics-system__item">
            <div class="statistics-system__icon">
              <img src="images/system/system-2.svg" width="44" height="44" alt="иконка">
            </div>
            <div class="statistics-system__text-col">
              <h4 class="statistics-system__title h4">20 лет назад</h4>
              <p class="statistics-system__text">сборники законов появились в интернете и на CD-дисках</p>
            </div>
          </div>

          <div class="statistics-system__item">
            <div class="statistics-system__icon">
              <img src="images/system/system-1.svg" width="44" height="44" alt="иконка">
            </div>
            <div class="statistics-system__text-col">
              <h4 class="statistics-system__title h4">10 лет назад</h4>
              <p class="statistics-system__text">в электронных базах начали публиковаться многие решения судов</p>
            </div>
          </div>

          <div class="statistics-system__item">
            <div class="statistics-system__icon">
              <img src="images/system/system-2.svg" width="44" height="44" alt="иконка">
            </div>
            <div class="statistics-system__text-col">
              <h4 class="statistics-system__title h4">Сейчас</h4>
              <p class="statistics-system__text">98% судебных решений оцифровываются, публикуются, доступны</p>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</section>