<section class="testimonials section" id="testimonials">
  <div class="container">
    <h2 class="testimonials__title h2">Отзывы</h2>
    <div class="testimonials__slider swiper">
      <div class="testimonials__slider-wrapper swiper-wrapper">
        <div class="testimonials__slider-item slider-item swiper-slide">
          <h3 class="slider-item__title h3">Благодаря сервису не попала к мошенникам!</h3>
          <p class="slider-item__text">Ещё 25–30 лет назад юристы отслеживали изменения в законодательстве покупая бумажные сборники законов, и выписывая специальные газеты, в которых публиковались свежие изменения в законодательстве</p>
          <div class="slider-item__footer">
            <span class="slider-item__author">Наталья Викторовна</span>
            <span class="slider-item__date">11.10.2021</span>
          </div>
        </div>

        <div class="testimonials__slider-item slider-item swiper-slide">
          <h3 class="slider-item__title h3">Только младая поросль матереет</h3>
          <p class="slider-item__text">Ещё 25–30 лет назад юристы отслеживали изменения в законодательстве покупая бумажные сборники законов, и выписывая специальные газеты, в которых публиковались свежие изменения в законодательстве</p>
          <div class="slider-item__footer">
            <span class="slider-item__author">Наталья Викторовна</span>
            <span class="slider-item__date">11.10.2021</span>
          </div>
        </div>

        <div class="testimonials__slider-item slider-item swiper-slide">
          <h3 class="slider-item__title h3">Финансовый мир очнулся: звук клавиш печатной машинки стал нашим флагом в борьбе с ложью</h3>
          <p class="slider-item__text">Для современного мира синтетическое тестирование выявляет срочную потребность дальнейших направлений развития. Высокий уровень вовлечения представителей целевой аудитории является чётким</p>
          <div class="slider-item__footer">
            <span class="slider-item__author">Наталья Викторовна</span>
            <span class="slider-item__date">11.10.2021</span>
          </div>
        </div>

        <div class="testimonials__slider-item slider-item swiper-slide">
          <h3 class="slider-item__title h3">Финансовый мир очнулся: звук клавиш печатной машинки стал нашим флагом в борьбе с ложью</h3>
          <p class="slider-item__text">Для современного мира синтетическое тестирование выявляет срочную потребность дальнейших направлений развития. Высокий уровень вовлечения представителей целевой аудитории является чётким</p>
          <div class="slider-item__footer">
            <span class="slider-item__author">Наталья Викторовна</span>
            <span class="slider-item__date">11.10.2021</span>
          </div>
        </div>
      </div>

      <div class="swiper-btns">
        <div class="testimonials__slider-prev swiper-button-prev"></div>
        <div class="testimonials__slider-pagination swiper-pagination"></div>
        <div class="testimonials__slider-next swiper-button-next"></div>
      </div>
    </div>

    <a href="#" class="testimonials__btn btn">Проверить бесплатно</a>
  </div>
</section>
