<section class="what-if section" id="what">
  <div class="container">
    <h2 class="what-if__title h2">Что будет, если не правильно выбрать юриста или адвоката?</h2>
    <div class="what-if__row">

      <div class="what-if__item">
        <h3 class="what-if__item-title h3">
          <img class="what-if__item-icon" src="images/what-if/what-if-1.svg" width="65" height="65" alt="иконка">
          <span>Достаточная вероятность выбрать юриста, который проиграет суд</span>
        </h3>
        <p class="what-if__text">потому что, по статистике, этот юрист чаще проигрывает суды, чем выигрывает. Или потому что, а реальности, юрист провёл мало судов и не имеет достаточного опыта. Или потому что он не специализируется (разбирается только теоретически) в делах нужной категории</p>
      </div>

      <div class="what-if__item">
        <h3 class="what-if__item-title h3">
          <img class="what-if__item-icon" src="images/what-if/what-if-2.svg" width="65" height="65" alt="иконка">
          <span>Большая вероятность заплатить юристу или адвокату дороже, чем</span>
        </h3>
        <p class="what-if__text">реальная рыночная стоимость этого специалиста. Дороже должны стоить услуги юриста более высокой квалификации, более опытного, а главное — того, кто чаще выигрывает. Но сейчас это не так — стоимость услуг зависит от офиса, от умения продавать, но не от результатов.</p>
      </div>

      <div class="what-if__item">
        <h3 class="what-if__item-title h3">
          <img class="what-if__item-icon" src="images/what-if/what-if-3.svg" width="65" height="65" alt="иконка">
          <span>Некоторая вероятность столкнуться с мошенничеством</span>
        </h3>
         <p class="what-if__text">в самых разных видах. От обещания 100% успеха, а потом формального выполнения своих обязательств, без задачи выиграть суд, до предложения коррупционных схем (в реальности деньги уйдут в карман мошенника).</p>
      </div>

    </div>
    <div class="what-if__remark">
      <img class="what-if__remark-icon" src="images/what-if/remark.svg" width="30" height="30" alt="иконка">
      <span class="what-if__remark-text">Но все это можно проверить заранее, по базам судебных решений!</span>
    </div>
  </div>
</section>